.navbar{
    border-bottom: 2px solid #495e57;
    width: 100%;
    max-width: none;
    padding: 0 6%; /*(0= topbot, 6%= leftright)*/
    align-items: center;
    grid-template-columns: auto auto auto;
    height: 6.25rem;
}

.navbar-logo{
    grid-column: 1;
    justify-content: start;
    align-items: center;
    line-height: 0;
}

.navbar-logo img {
    width: 10rem;
    height: 2.75rem;
}

.navbar-hamburger {
    grid-column: 2;
    display: none;
    cursor: pointer;
    color: #495e57;
    background-color: transparent;
}

.navbar-hamburger svg {
    width: 1.875rem;
    height: 1.875rem;
}

.navbar-links {
    grid-column: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1.5rem;
    transition: left 300ms linear;
}

.navbar-links li {
    list-style-type: none;
    font-weight: 650;
}

.navbar-links a {
    height: max-content;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    .navbar{
        grid-template-columns: auto auto;
    }

    .navbar-hamburger {
        justify-self: end;
        display: inline-flex;
        border: none;
    }

    .navbar-links.expanded {
        justify-content: flex-start;
        align-items: flex-start;
        left: 0;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.6);
    }

    .navbar-links.expanded li {
        width: 100%;
        border-bottom: 1px solid #495e57;
    }

    .navbar-links.expanded li a {
        display: block;
        padding: 1.5rem;
    }

    .navbar-links.expanded li:hover {
        background-color: #ebebeb;
    }

    .navbar-links{
        position: absolute;
        flex-direction: column;
        width: 75%;
        max-width: 16rem;
        height: 100vh;
        top: 0;
        left: -75%;
        background-color: white;
        z-index: 100;
    }
    
}

